<div ng-controller="personal_page">
<div class="col-md-4">
</div>
	<div class="col-md-4" >
		<div class="row" >
			<form>
				<div>
				<p>
					<b>Overview: </b>{{overview}}
				</p>
				</div>
				<div>
				<p>
					<b>Work: </b> {{work}}
				</p>
				</div>
				<div>
				<p>
					<b>Where do you live?:</b> {{lives_in}}
				</p>
				</div>
				<div>
				<p>
					<b>Where are you from?</b>{{from_place}}
				</p>
				</div>
				<div>
				<p>
					<b>Interests:</b>{{interests}}
				</p>
				<p>
					<b>Contact Info:</b>{{contact}}
				</p>
				<p>
					<b>Life Events:</b>{{life}}
				</p>
				</div>							 
			</form>

			<a href=#about/>Go to Profile!</a>
			<a href=#news/>  Go to Home</a>
			

		</div>
	</div>
</div>
	
